{% extends "base.html" %}

{% block content %}
<header id="header">
  <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
          <h1><a href="{% url 'admin_index' %}">Adminboard<span>.</span></a></h1>
      </div>
      <nav id="navbar" class="navbar">
          <ul>
              {% if request.user.is_authenticated %}
              <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logut</a></li>
              {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

  </div>
</header>


<div class="container mt-5">
  <h2 class="mb-3 text-center">Crear un nuevo proyecto</h2>
  <div class="row row-cols-1 g-4">
    <div class="col d-flex justify-content-center">
      <div class="card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body bg-light">
              <form method="post" novalidate class="mt-1">
                {% csrf_token %}

                {{ form.as_div }}
                <div class="col text-center">
                  <button class="btn btn-success mt-4 text-center">Crear</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}